body{

    background-image: url(./IMG/digital-postcallout-500x250-1573688506.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content:center ;
}

.unitConverApp{

    width: 500px;
    height: 600px; 
    justify-content: center;
    background-color: bisque;
   
}